 [Unit]
Description=Start AutomaThemely scheduler via entrypoint
# optional: ensure network/session ready if you want
# After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/skdj/.local/bin/automathemely --restart
TimeoutSec=30

[Install]
WantedBy=default.target
